opencv-python-headless~=4.9.0.80
langchain
langchain-openai==0.0.6
langchain-core~=0.1.52
PyPDF2==3.0.1
altair<5
openai~=1.42.0
tiktoken
streamlit
bs4~=0.0.2
pexels-api-py
python-pptx~=0.6.23
requests~=2.32.3
moviepy~=1.0.3
pillow~=10.2.0
ipython~=8.23.0
python-dotenv==1.0.1
mistralai==0.1.6
pandas==2.2.1
langchain-mistralai==0.0.5
llama-index==0.10.19
llama-index-embeddings-mistralai==0.1.4
llama-index-llms-mistralai==0.1.6
mistral-haystack==0.0.1
panel==1.4.0
faiss-cpu==1.8.0
beautifulsoup4~=4.12.3
torch~=2.4.0
transformers~=4.44.2
langchain-community~=0.2.7