opencv-python-headless
langchain
langchain-openai
langchain-core
PyPDF2
altair
openai
tiktoken
streamlit
bs4
pexels-api-py
python-pptx
requests
moviepy
pillow
ipython
python-dotenv
mistralai
pandas
langchain-mistralai
llama-index
llama-index-embeddings-mistralai
llama-index-llms-mistralai
mistral-haystack
panel
faiss-cpu
beautifulsoup4
torch
transformers
langchain-community